*/
!.local
!.local/bin
!.config
!.config/pipewire
!.config/x11
!.config/redshift
!.config/shell
!.config/nvim
.config/nvim/shortcuts.vim
.config/shell/shortcutrc
.config/shell/zshnameddirrc
QtProject.conf
