*/
!.local
!.local/bin
!.local/bin/statusbar
!.local/bin/accessoirs
!.local/share
.local/share/recently-used.xbel
!.local/share/applications
.local/share/applications/mimeinfo.cache
!.config
!.config/pipewire
!.config/x11
!.config/redshift
!.config/shell
!.config/nvim
!.config/simple-usb-automount/
!.config/simple-usb-automount/**
.config/nvim/shortcuts.vim
.config/shell/shortcutrc
.config/shell/zshnameddirrc
QtProject.conf
.bashrc
